

.container .main-container{
    background-color:rgba(124, 173, 72, 0.719) ;
}

.navbar-expand-lg{
  
    background-color: rgba(124, 173, 72, 0.719);
}

#home-carousel .carousel-item{
    height: 80px;
    background-color: gray;
}


.categorias {
    background-color: rgba(124, 173, 72, 0.719);
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#cuerpo {
    background-color: rgba(124, 173, 72, 0.719);
}

 .formbtn {
    width: 30%;
}
.form-control {
    width: 100%;
}

.card .d-flex {
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.card img {
    height: 40%;
}

.f-icon{
    width: 50px;
    height: 50px;
}

footer{
    padding: 0 1rem 0 1rem;
    background-color: gray; 
    min-height: 10vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

footer p {
    font-size: 2rem;
    color:aliceblue
}


.iconf {
width: 200px;
display: flex;
    justify-content:space-between;
    align-items: center;
}
.card-detail {
    width: 30%;

}


.contacto {
    background-color: rgba(124, 173, 72, 0.719);
    display: flex;
    justify-content: center;
}

.mb-3 {
    
    display: flex;
    flex-direction: column;
}


.details-main-container {
    
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    /*border: #000 1px solid;*/
    padding: 20px;
    margin: 50px 250px 50px 250px;
  }
  
  .detail-image-container {
    border: #000 1px solid;
    padding: 20px;
  }
  .detail-image-container img{
    width: 100%;
  }

  .details-text-container {
    border: #000 1px solid;
    padding: 20px;
    margin-left: 10px;
  }


  @media (max-width: 991px) {
    .nav-item {
        width: 100%;
    }

    .nav-item > a{
        width: 100%;
        margin: 5px 0 5px 0;
    }

    .categorias {
        flex-wrap: wrap;
        justify-content: center;
    }
    .formbtn {
        width: 60%;
    }
  }