

.container .main-container{
    background-color:rgba(124, 173, 72, 0.719) ;
}

.navbar-expand-lg{
  
    background-color: rgba(124, 173, 72, 0.719);
}

#home-carousel .carousel-item{
    height: 80px;
    background-color: gray;
}


.categorias {
    background-color: rgba(124, 173, 72, 0.719);
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#cuerpo {
    background-color: rgba(124, 173, 72, 0.719);
}

 .formbtn {
    width: 30%;
}
.form-control {
    width: 100%;
}

.card .d-flex {
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.card img {
    height: 40%;
}
.card-title {
    text-align: center;
    font-size: 1.7rem;
}


.f-icon{
    width: 50px;
    height: 50px;
}

footer{
    padding: 0 1rem 0 1rem;
    background-color: gray; 
    min-height: 10vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

footer p {
    font-size: 2rem;
    color:aliceblue
}


.iconf {
width: 200px;
display: flex;
    justify-content:space-between;
    align-items: center;
}
.card-detail {
    width: 30%;

}

a[href="#"]{
    background-color: green;
}

a:hover{
    background-color: rgb(232, 205, 26);
    color: black;
    transform: scale(1.1) rotate(4deg);
}




.contacto {
    background-color: rgba(124, 173, 72, 0.719);
    display: flex;
    justify-content: center;
}

.mb-3 {
    
    display: flex;
    flex-direction: column;
}


.details-main-container {
   
    display: flex;
    justify-content:left;

    text-align: center;
    padding: 5px;
    margin: 5px;
    flex-wrap: wrap;

  }
  
  .detail-image-container {
    width: 55%;
    border: #000 1px solid;
    padding: 5px;
    
  }
  .detail-image-container img{
    width: 100%;
    
  }

  .details-text-container {
    max-width: 44%;
    border: #000 1px solid;
    padding: 20px;
    margin-left: 10px;
  }
.t-titulo{
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    color: black;

}


   .t-head th{
    height: 50px;
    font-size: 20px;
    color: white;
    background-color: rgba(124, 173, 72, 0.719);
    
}

thead th:nth-child(1) {
    
    width: 40%;
  }
  thead th:nth-child(2) {
    width: 40%;
  }

  td:nth-child(1) {
    padding-left: 5%;
  }

  td:nth-child(2) {
    text-align: right;
    padding-right: 20%;
  }
  td:nth-child(3) {
    text-align: right;
    padding-right: 5%;
  }


#t-estadistica {
    border-collapse: collapse;
    width: 100%;
}

#t-estadistica tr:hover {
    background-color: rgba(187, 234, 136, 0.719);
    font-weight: bold;
}

#boot-icon{
    font-size: 3rem;
    color: rgb(255, 255, 255);

}


  @media (max-width: 991px) {
    .nav-item {
        width: 100%;
    }

    .nav-item > a{
        width: 100%;
        margin: 5px 0 5px 0;
    }

    .categorias {
        flex-wrap: wrap;
        justify-content: center;
    }
    .formbtn {
        width: 60%;
    }
    a:hover{
        transform:none;
    }
  }